Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine On
#RewriteBase /

#If the file does not exist, and the url doesn't start with /images
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_URI} !^/images

RewriteRule ^login/?$ signin.php [NC,L]
RewriteRule ^forgot_password/?$ request_password_reset.php [NC,L]
RewriteRule ^email_confirmation/?$ email_verification.php [NC,L]

RewriteRule ^admin/seo_source/?$ admin/source.php [NC,L]
RewriteRule ^admin/seo_source_list/?$ admin/source_list.php [NC,L]

RewriteRule ^admin/smm_source/?$ admin/source.php [NC,L]
RewriteRule ^admin/smm_source_list/?$ admin/source_list.php [NC,L]
RewriteRule ^admin/smm_account/?$ admin/account.php [NC,L]
RewriteRule ^admin/smm_account_list/?$ admin/account_list.php [NC,L]
RewriteRule ^admin/smm_campaign_type/?$ admin/campaign_type.php [NC,L]
RewriteRule ^admin/smm_campaign_type_list/?$ admin/campaign_type_list.php [NC,L]
RewriteRule ^admin/smm_campaign/?$ admin/campaign.php [NC,L]
RewriteRule ^admin/smm_campaign_list/?$ admin/campaign_list.php [NC,L]
RewriteRule ^admin/smm_lead/?$ admin/lead.php [NC,L]
RewriteRule ^admin/smm_lead_list/?$ admin/lead_list.php [NC,L]

RewriteRule ^admin/em_source/?$ admin/source.php [NC,L]
RewriteRule ^admin/em_source_list/?$ admin/source_list.php [NC,L]
RewriteRule ^admin/em_account/?$ admin/account.php [NC,L]
RewriteRule ^admin/em_account_list/?$ admin/account_list.php [NC,L]
RewriteRule ^admin/em_campaign_type/?$ admin/campaign_type.php [NC,L]
RewriteRule ^admin/em_campaign_type_list/?$ admin/campaign_type_list.php [NC,L]
RewriteRule ^admin/em_campaign/?$ admin/campaign.php [NC,L]
RewriteRule ^admin/em_campaign_list/?$ admin/campaign_list.php [NC,L]
RewriteRule ^admin/em_lead/?$ admin/lead.php [NC,L]
RewriteRule ^admin/em_lead_list/?$ admin/lead_list.php [NC,L]


RewriteRule ^404_not_found/?$ 404.php [NC,L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]

#RewriteRule ^(.+)$ index.php?page=$1 [QSA,L]
#RewriteRule ^([a-zA-Z0-9-+]+)/?$ cms.php?page=$1 [L,QSA]

#If the rule above didn't match, and the file does not exist, use the ErrorDocument
ErrorDocument 404 https://leadmanagement.medcaredemo.online/404_not_found

#ErrorDocument 500 http://example.com/500/
# or map them to one error document:
# ErrorDocument 404 /pages/errors/error_redirect.php
# ErrorDocument 500 /pages/errors/error_redirect.php
#RewriteCond %{REQUEST_URI} ^/404_not_found/$
#RewriteRule ^(.*)$ /404.php [L]
#RewriteCond %{REQUEST_URI} ^/500/$
#RewriteRule ^(.*)$ /pages/errors/500.php [L]
# or map them to one error document:
#RewriteCond %{REQUEST_URI} ^/404/$ [OR]
#RewriteCond %{REQUEST_URI} ^/500/$
#RewriteRule ^(.*)$ /pages/errors/error_redirect.php [L]