#kt_aside_toggle,
#kt_quick_panel_toggle,
#kt_quick_user_toggle:not(.user-image-wrapper),
#kt_subheader,
#kt_header .topbar,
.aside-menu .menu-nav li.menu-section {
    display: none !important;
    opacity: 0 !important;
    width: 0 !important;
}

.line {
    display: block;
    float: left;
    overflow: hidden;
    width: 100%;
}

body, #kt_header, #kt_content, .gridListingStyleWrapper table.datatable-table {
    background: #f3f7fd !important;
}

.datatable.datatable-bordered.datatable-head-custom.datatable-default.datatable-primary.datatable-loaded.datatable-scroll-x {
    overflow-x: auto;
}

#kt_content {
    margin-bottom: 40px;
}

.aside, .aside-menu {
    background-color: #ffffff;
}

.aside-menu .menu-nav .menu-item .menu-link {
    border-left: 4px solid transparent;
    padding: 20px 30px;
}

.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link,
.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link {
    padding-top: 10px !important;
    padding-right: 25px !important;
    padding-bottom: 10px !important;
}


.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link {
    padding-left: 40px !important;
}

.aside-menu .menu-nav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-submenu .menu-subnav > .menu-item > .menu-link {
    padding-left: 55px !important;
}


.aside-menu .menu-nav .menu-item .menu-text {
    font-size: 14px !important;
    font-family: 'montserratregular' !important;
    letter-spacing: 0;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-heading .menu-arrow,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-arrow {
    color: #9eaabb;
}

.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading, .aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link,
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading,
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link {
    background-color: #f6fbff;
}

.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-heading .menu-arrow,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-open > .menu-link .menu-arrow,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item.menu-item-active > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item.menu-item-active > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-arrow,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-arrow,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-arrow,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-arrow,
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-heading .menu-arrow,
.aside-menu .menu-nav > .menu-item.menu-item-open > .menu-link .menu-arrow {
    color: #1363ea;
}

.aside-menu .menu-nav .menu-item .menu-link .menu-icon .dark_color {
    fill: #9eaabb;
}

.aside-menu .menu-nav .menu-item .menu-link .menu-icon .light_color {
    fill: #d8dfe9
}

.aside-menu .menu-nav .menu-item.menu-item-active .menu-link .menu-icon .dark_color,
.aside-menu .menu-nav .menu-item.menu-item-open .menu-link .menu-icon .dark_color,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon .dark_color,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon .dark_color,
.header.header-fixed .page-name .page-svg-icon-wrapper svg .dark_color {
    fill: #1363ea;
}

.aside-menu .menu-nav .menu-item.menu-item-open .menu-link .menu-icon .light_color,
.aside-menu .menu-nav .menu-item.menu-item-active .menu-link .menu-icon .light_color,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-heading .menu-icon .light_color,
.aside-menu .menu-nav > .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover > .menu-link .menu-icon .light_color,
.header.header-fixed .page-name .page-svg-icon-wrapper svg .light_color {
    fill: #97CEFF;
}

.aside-menu .menu-nav .menu-item.menu-item-active .menu-link {
    border-left: 5px solid #1363ea;
}

.header.header-fixed,
.header.header-fixed .page-name,
.brand, .brand-logo-wrapper {
    height: 80px;
}


.header.header-fixed .page-name,
.brand-logo-wrapper {
    align-items: center;
    display: flex;
    border-bottom: 2px solid #e8ebf1;
    color: #16171a;
    float: left;
    font-family: 'montserratblack';
    font-size: 24px;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.header.header-fixed .page-name .page-svg-icon-wrapper {
    display: block;
    margin: 0 10px 0 0;
    width: 26px;
}

.header.header-fixed .page-name .page-svg-icon-wrapper svg {
    vertical-align: text-bottom;
}

.user-image-portion {
    display: block;
    margin: 0;
    overflow: hidden;
    padding: 15px 30px 30px 30px;
    width: 100%;
}


.user-image-portion .user-image-wrapper {
    border: 3px solid #1363ea;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 110px;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px;
    width: 110px;

}

.user-image-portion .user-image-wrapper img {
    width: 100%;
    border-radius: 50%;
}

.user-active-label {
    background-color: #ecf8f6;
    border: 1px solid #ecf8f6;
    border-radius: 35px;
    color: #6dc599;
    font-family: 'montserratmedium';
    font-size: 14px;
    padding: 20px 30px 17px 30px;
    width: auto;
}

.user-active-label i {
    color: #6dc599 !important;
    font-size: 16px;
    margin: -4px 8px 0 0;
}

.progress-card h2 {
    color: #8bc443;
    font-family: 'montserratsemibold';
    font-size: 16px;
    letter-spacing: 0.2px;
}

.progress-card h2.bd-heading {
    color: #0155e6;
}

.progress-card h2.smm-heading {
    color: #47c997;
}

.progress-card h2.em-heading {
    color: #0078ba;
}

.progress-card h2.seo-heading {
    color: #04cbfe;
}

.progress-card p {
    color: #99a6bf;
    font-family: 'montserratmedium';
    font-size: 12px;
    text-align: center;
    margin: 10px 0 5px 0;
}

.progress-card h1 {
    color: #16171a;
    font-family: 'montserratblack';
    font-size: 40px;
    text-align: center;
    margin: 0 0 5px 0;
}

.Card-Stretch-Wrapper h1 {
    color: #16171a;
    font-family: 'montserratsemibold';
    font-size: 20px;
    margin: 30px 0 15px 0;
    padding: 0 0 0 5px;
}

.Card-Stretch-Wrapper .card .highcharts-container .highcharts-title tspan {
    color: transparent !important;
    opacity: 0 !important;
    width: 0 !important;
}


.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul {
    border: none;
    position: relative;
}

.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul li {
    margin: 0;
    position: relative;
    width: 50%;
    z-index: 1;
}


.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul li.hide-li {
    background: #eaf0fa;
    height: 6px;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
}





.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul li a {
    background: #eaf0fa;
    border: none !important;
    border-radius: 6px !important;
    color: #a7b7d4;
    display: block;
    font-family: 'montserratsemibold';
    font-size: 15px;
    padding: 1rem 1.5rem;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul li.nav-item:nth-child(1) a {
    border-radius: 6px 6px 6px 0 !important;
}

.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul li.nav-item:nth-last-child(1) a {
    border-radius: 6px 6px 0 6px !important;
}

.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul li a.active {
    background: #fff;
    color: #00afd8;
}

.Card-Stretch-Wrapper .card .card-header-tabs .tab-example ul li a:not(.active):hover {
    background: #f0f4fb;
}


.Card-Stretch-Wrapper .card.card-custom.card-stretch {
    height: calc(100% - 24px - 30px - 15px);
}

.duration_buttons_wrapper {
    float: left;
    margin: 0 0 0 40px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: auto;
    z-index: 5;
}

.duration_buttons_wrapper ul,
.duration_buttons_wrapper ul li {
    float: left;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.duration_buttons_wrapper ul li button {
    background: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    color: #a7b7d4;
    font-family: 'montserratsemibold';
    font-size: 12px;
    margin: 0 20px 0 0;
    padding: 4px 6px 4px 4px;
    text-align: center;
}

.duration_buttons_wrapper ul li:nth-last-child(1) button {
    margin: 0 0 0 0;
}

.BD-Overview-Wrapper .duration_buttons_wrapper ul li button.active {
    background: rgba(151, 198, 255, 0.4);
    border-color: rgba(151, 198, 255, 0.4);
    color: #0155e6;
}

.SMM-Overview-Wrapper .duration_buttons_wrapper ul li button.active {
    background: rgba(155, 249, 209, 0.4);
    border-color: rgba(155, 249, 209, 0.4);
    color: #47c997;
}

.EM-Overview-Wrapper .duration_buttons_wrapper ul li button.active {
    background: rgba(95, 214, 255, 0.4);
    border-color: rgba(95, 214, 255, 0.4);
    color: #0078ba;
}

.SEO-Overview-Wrapper .duration_buttons_wrapper ul li button.active {
    background: rgba(164, 242, 255, 0.4);
    border-color: rgba(164, 242, 255, 0.4);
    color: #04cbfe;
}

.Chart_Wrapper {
    float: left;
    margin: -35px 0 0 0;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.Card-Stretch-Wrapper .account_wrapper {
    text-align: center;
}

.Card-Stretch-Wrapper .account_wrapper ul,
.Card-Stretch-Wrapper .account_wrapper ul li {
    float: left;
    list-style: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.Card-Stretch-Wrapper .account_wrapper ul {
    display: inline-block;
    float: none;
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper {
    float: left;
    margin: 0 2px;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 110px;
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper a {
    cursor: pointer;
    display: block;
    float: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper a.dropdown-toggle div span {
    color: #16171a;
    font-family: 'montserratlight';
    font-size: 16px;
    position: absolute;
    top: 34%;
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper .dropdown-menu a {
    color: #a7b7d4;
    font-family: 'montserratlight';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    line-height: 34px;
    padding: 4px 12px 8px 12px;
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper .dropdown-menu a.active,
.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper .dropdown-menu a:hover {
    background-color: #f6fbff;
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper a div {
    border: 1px solid #E4E6EF;
    border-radius: 50% !important;
    cursor: pointer;
    display: block;
    float: none;
    height: 75px;
    margin: 12px auto 8px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 75px;

}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper .dropdown-menu a div {
    float: left;
    height: 25px;
    line-height: normal;
    margin: 5px 8px 5px 0;
    width: 25px;

}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper a div img {
    height: auto;
    width: 100%;
}


.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper a span {
    color: #a7b7d4;
    display: block;
    float: left;
    font-family: 'montserratlight';
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.6px;
    width: 100%;
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper a.active > div {
    -webkit-box-shadow: 1px 6px 8px 2px rgba(136, 136, 136, 0.45);
    box-shadow: 1px 6px 8px 2px rgba(136, 136, 136, 0.45);
}

.Card-Stretch-Wrapper .account_wrapper ul li .sales_person_info_wrapper a.active > span {
    color: #16171a;
}

@media (min-width: 992px) {
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 80px;
    }
}